<!DOCTYPE html>

<html>
<link rel="stylesheet" href="style.css">
<head>
   
    <title>About me!</title>

    <link rel="stylesheet" href="style.css" type="text/css" media="screen, projection"/>

</head>

<body>
      <div>
        <img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
      </div>
    <h1>About this blog</h1>

    <P> Gherwanedpt is a blog dedicated to motivate and educate the community about the current healthcare trends.  <Br /> 
    I want to inform you about what I see everyday working as a home health physical therapist and <Br />
    I want to inform you about what I see everyday working as a home health physical therapist and <Br />
    what I think the community as a whole could benefit from. </P> 

    <!--Profile image -->
    <img class = "img-profile" src = "img/profile.jpg" alt=" Gherwane" />

    <div class="separate">

    </div>
<!-- Posts -->
<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>   <p>Today is {{date}}</p>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="ptone.jpg" alt="Cervicalgia" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"></span><br>
      </li>
      <li class="w3-padding-16">
        <img src="pttwo.jpg" alt="Frozen Shoulder" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"></span><br>
        
      </li> 
      <li class="w3-padding-16">
        <img src="ptthree.jpg" alt="Rotator cuff pain" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"></span><br>
       
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="ptfour.jpg" alt="Shoulder Postop" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"></span><br>
        
      </li>  
    </ul>
  </div>
  <hr> 

    </div>

    <div class="separate">


    </div>

    <!--Display the date passed from python-->



    <br>

    <h3>Helpful links!</h3>

    <a href="https://www.apta.com">Visit The APTA</a>

    <a href="https://world.physio/">Visit The World Physiotherapy</a>

    <a href="https://www.nimh.nih.gov/">Visit NIMH</a>

    <br>

    <a href="/index.html">Index</a>

    <a href="/services.html">Services</a>

</body>

</html>