<!DOCTYPE html>

<html>
     
<head>
     <title>Home</title>
 
</head>
<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection"/>
<div>
    <img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
</div>
<body>

    <h1> Get all your wellness education! </h1>

    <h2>General Physical and Mental Fitness Tips</h2>


    <div class="separate">

        <h3>What is Physical Therapy?</h3>

        <ol>

            <li>Wear an activity tracker</li>

            <li>Never let chronic pain be the boss of you</li>
            <li>Strength training isn’t just for the young:</li>
            <li> Do your homework:</li>
            <li> Never give up</li>

        </ol>

    </div>

    <div class="separate">

        <h3>What is mental fitness? A how-to for exercising your brain</h3>

        <ol>

            <li>Being present. In a mindful state, we can better retain information, listen, and be aware of, but not sabotaged by, distractions. </li>
            <li>The ability to respond, not react. When we have more control over our automatic thoughts, we can choose to respond in a more rational</li>
            <li>Improved cognitive function. Better focus, processing speed, memory, concentration, time management, and communication have a positive impact.</li>
            <li> Increased positive emotions: optimism. </li>
            <li> Ability to develop positive habits in all areas of life. </li>

        </ol>

    </div>
    <div class="separate">


    </div>

    <!--Display the date passed from python-->

    <p>Today is {{date}}</p>

    <br>

    <h3>Helpful links!</h3>

    <a href="https://www.apta.com">Visit The APTA</a>

    <a href="https://world.physio/">Visit The World Physiotherapy</a>

    <a href="https://www.nimh.nih.gov/">Visit NIMH</a>

    <br>

    <a href="/about.html">About</a>

    <a href="/services.html">Services</a>

</body>

</html>