<!DOCTYPE html>
<html>
    
<head>
    <title>Log out</title>
 <link rel="stylesheet" href="style.css" type="text/css" media="screen, projection"/>

</head>

<h2> Thank you for visiting, Please come again soon! </h2>
<div>
    <img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
</div>
<p>Today is {{date}}</p>
<body>

    <h3> Supplies available for sale </h3>
    <table>
        <tr>
            <th> Item Name</th>
            <th> Price</th>
            <th> Size</th>
            <th> Quantity</th>
        </tr>
        <tr>
            <th> Therabands</th>
            <th> $9.99</th>
            <th> Large</th>
            <th> 20</th>
        </tr>
        <tr>
            <th> Walkers</th>
            <th> $29.99</th>
            <th> Medium</th>
            <th> 7</th>
        </tr>
        <tr>
            <th> Wheelchairs</th>
            <th> $59.99</th>
            <th> 22-26"</th>
            <th> 4</th>
        </tr>
        <tr>
            <th> Canes</th>
            <th> $20</th>
            <th> M</th>
            <th> 16</th>
        </tr>
    </table>

    
    <!--Equipment images-->
    <img src = "Walker.jpeg" alt=" Rolling Walker" />

    <img src = "wheelchair.jpg" alt=" Wheelchair"/>

    <img src = "cane.jpg" alt=" Cane"/>
    
    <!--Display the date passed from python-->
   

    <br>

    <h3>Helpful links!</h3>

    <a href="https://www.apta.com">Visit The APTA</a>

    <a href="https://world.physio/">Visit The World Physiotherapy</a>

    <a href="https://www.nimh.nih.gov/">Visit NIMH</a>

    <br>

    <a href="/index.html">Index</a>

    <a href="/about.html">About</a>

</body>
</html>