<!DOCTYPE html>
<html>
   
<head>
    <title>Services</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen, projection"/>
    <div>
        <img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
    </div>
</head>
<body>
    <h1>Physical Therapy services offered</h1>

    <div class="separate">
        <ul>
            <li>Orthopedic recovery</li>
            <li>Post Stroke recovery</li>
            <Li>Sports Rehab</Li>
            <Li>Post-Op Rehab</Li>
            <Li>Preventive Training</Li>
        </ul>
    </div>
    <div class="separate"> </div>

    <h2> Coming to your area soon! </h2>
 
    <!--Map image-->
    <img src = "'Howard.png" alt=" Howard cuonty Map" />
    
    <!--Display the date passed from python-->
    <p>Today is {{date}}</p>
    <br>

    <h3>Helpful links!</h3>

    <a href="https://www.apta.com">Visit The APTA</a>

    <a href="https://world.physio/">Visit The World Physiotherapy</a>

    <a href="https://www.nimh.nih.gov/">Visit NIMH</a>

    <br>

    <a href="/index.html">Index</a>

    <a href="/about.html">About</a>

</body>
</html>